@model IEnumerable<TicketReservation.Models.SSPassenger>
@using System.Data.SqlClient;
@using System.Configuration;
@{
    ViewBag.Title = "SSPassenger";
}

<h2>SSPassenger</h2>
@{
    string connection = ConfigurationManager.ConnectionStrings["SqlConnection"].ConnectionString;
    SqlConnection sqlConnection = new SqlConnection(connection);
    sqlConnection.Open();
    SqlCommand countCommand = new SqlCommand("select count(name) from SSPassengers", sqlConnection);
    int result = (int)countCommand.ExecuteScalar();
    SqlCommand SSAvailable = new SqlCommand("select SSAvailable from Trains", sqlConnection);
    SqlDataReader dataReader = SSAvailable.ExecuteReader();
    dataReader.Read();
    int SS = (int)dataReader.GetValue(0);
    dataReader.Close();
    SqlCommand sqlCommand = new SqlCommand("truncate table SSPassengers", sqlConnection);
    SqlCommand RemainingAcCommand = new SqlCommand("update Trains set SSAvailable=SSAvailable-'" + result + "' where SSAvailable='" + SS + "' ", sqlConnection); ;
    RemainingAcCommand.ExecuteNonQuery();
    sqlCommand.ExecuteNonQuery();
}
<h2>passengerDetail</h2>
<h3>Your ticket details:</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            SeatNO
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <p>CN/Rf/SS-@SS</p>
            </td>
        </tr>
    }
</table>

