
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h3>@ViewBag.Message</h3>
<div style="position:relative;left:200px">
@using (Html.BeginForm()) { 
    <table>
        <tr>
        <td>
            @Html.Label("Username")
            @Html.TextBox("username")
        </td></tr>
        <tr>
        <td>
            @Html.Label("Password")
            @Html.TextBox("password")
        </td></tr>
        <tr>
        <td>
        <input type="submit" style="position:relative;left:100px"/></td></tr>
    </table>
}
    </div>
<p>New User--@Html.ActionLink("SignUp","Create","Customers")</p>